In [ ]:
# installing libraries 
pip install kaggle

In [39]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\saddiqq\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\saddiqq\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\saddiqq\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [41]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\saddiqq\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [42]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\saddiqq\anaconda3\lib\site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.

In [43]:
import os
from dotenv import load_dotenv

load_dotenv()

api_username = os.getenv("KAGGLE_USERNAME")
api_key = os.getenv("KAGGLE_KEY")

    # Use the API key and secret to authenticate with the API
    # Example:
    # headers = {"Authorization": f"Bearer {api_key}"}
    # response = requests.get(url, headers=headers)

In [44]:
import pandas as pd

In [11]:
pip install pandas requests

Requirement already satisfied: pandas in c:\users\saddiqq\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: requests in c:\users\saddiqq\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\saddiqq\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\saddiqq\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\saddiqq\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\saddiqq\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saddiqq\anaconda3\lib\site-packages (from requests) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\users\saddiqq\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
import requests #send http request
from io import StringIO

# API endpoint that returns CSV data
base_url = "https://www.kaggle.com/datasets/ankitbansal06/retail-orders/data.csv"

In [9]:
import os

os.environ['KAGGLE_USERNAME'] = 'your_username'
os.environ['KAGGLE_KEY'] = 'your_key'

from kaggle.api.kaggle_api_extended import KaggleApi
import pandas as pd

# Authenticate
api = KaggleApi()
api.authenticate()

# Download and unzip dataset
api.dataset_download_files('ankitbansal06/retail-orders', path='retail_orders', unzip=True)

#3.1 # Load the CSV
df = pd.read_csv('retail_orders/orders.csv')
limit = df.head(10)
#df.head(30)
limit

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [14]:
#3.2 #cleaning- missing values
missing_values = df.isnull().sum()
print(missing_values)

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [15]:
#shape
shape = df.shape
print("shape = {}".format(shape))

shape = (9994, 16)

In [16]:
# 4. Data Cleaning and Transformation

# 4.1. Unique values for object-type columns (excluding Order Date)

unique_data = {}
for column in df:
    if 'Order Date' in column:
        continue  
    unique_data[column] = df[column].unique().tolist()

data_set = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in unique_data.items()]))
data_set

,Order Id,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,Second Class,Consumer,United States,Henderson,Kentucky,42420.0,South,Furniture,Bookcases,FUR-BO-10001798,240.0,260.0,2.0,2.0
1,2,Standard Class,Corporate,NaN,Los Angeles,California,90036.0,West,Office Supplies,Chairs,FUR-CH-10000454,600.0,730.0,3.0,3.0
2,3,Not Available,Home Office,NaN,Fort Lauderdale,Florida,33311.0,Central,Technology,Labels,OFF-LA-10000240,10.0,10.0,5.0,5.0
3,4,unknown,NaN,NaN,Concord,North Carolina,90032.0,East,NaN,Tables,FUR-TA-10000577,780.0,960.0,7.0,4.0
4,5,First Class,NaN,NaN,Seattle,Washington,28027.0,NaN,NaN,Storage,OFF-ST-10000760,20.0,20.0,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9990,9991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9991,9992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9992,9993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9993,9994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# 4.2. Replace 'Not Available' and 'unknown' in Ship Mode with NaN
data= df['Ship Mode']
filter =df[(df['Ship Mode'] == 'Not Available' )|(df['Ship Mode'] == 'unknown') ]
jumper = (data == 'Not Available' ).sum()
print(filter)

    Order Id  Order Date      Ship Mode      Segment        Country  \
5          6  2022-03-13  Not Available     Consumer  United States
8          9  2023-03-23  Not Available     Consumer  United States
10        11  2023-03-31  Not Available     Consumer  United States
11        12  2023-12-25  Not Available     Consumer  United States
14        15  2023-11-09        unknown  Home Office  United States

           City       State  Postal Code   Region         Category  \
5   Los Angeles  California        90032     West        Furniture
8   Los Angeles  California        90032     West  Office Supplies
10  Los Angeles  California        90032     West        Furniture
11  Los Angeles  California        90032     West       Technology
14   Fort Worth       Texas        76106  Central  Office Supplies

   Sub Category       Product Id  cost price  List Price  Quantity  \
5   Furnishings  FUR-FU-10001487          50          50         7
8       Binders  OFF-BI-10003910          20          20         3
10       Tables  FUR-TA-10001539        1470        1710         9
11       Phones  TEC-PH-10002033         750         910         4
14   Appliances  OFF-AP-10002311          60          70         5

    Discount Percent
5                  3
8                  2
10                 3
11                 3
14                 5

In [58]:
# 4.3. Rename all columns (lowercase, replace spaces with underscores)
df.rename(columns={'Order_id':'order_id', 'Order_date':'order_date', 'Ship_mode':'ship_mode','Segment':'segment', 'Country':'country','City':'city','Region':'region','Category':'category','Quantity':'quantity','State':'state',
     'Postal_code':'postal_code', 'Sub_category':'sub_category',
       'Product_id':'product_id', 'Cost_price':'cost_price', 'List_price':'list_price', 'Discount_percent':'discount_percent'}, inplace =True)
df

,order_id,order_date,customer_id,category,sub_category,product_id,selling_price,discount_percent,discount,ship_mode,city,state,region,postal_code,country,segment,profit
0,10,2024-01-01 10:00:00,1,Office Supplies,Paper,1001,20.5,5.0,1.03,Second Class,New York,NY,East,10001,USA,Consumer,5.75

In [59]:
df.columns

Index(['order_id', 'order_date', 'customer_id', 'category', 'sub_category',
       'product_id', 'selling_price', 'discount_percent', 'discount',
       'ship_mode', 'city', 'state', 'region', 'postal_code', 'country',
       'segment', 'profit'],
      dtype='object')

In [62]:
#Computing a discount column

#df['discount'] = (df['List Price'] *df['Discount Percent'] ) /100

In [ ]:
# computing selling price column
df['selling_price'] = df['List Price'] - df['discount']

In [ ]:
#computing a profit column as selling_price - cost_price.

df['profit'] = df['selling_price'] - df['cost price']
df

In [18]:
#dropping column
df.drop(['cost price','List Price'], axis=1, inplace=True)

In [19]:
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'segment', 'country', 'city',
       'state', 'Postal Code', 'region', 'category', 'Sub Category',
       'Product Id', 'quantity', 'Discount Percent', 'discount',
       'selling_price', 'profit'],
      dtype='object')

In [ ]:
# 4.6. Convert order_date to datetime 
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [65]:
from sqlalchemy import create_engine, Column, Integer, String, MetaData,DECIMAL,TIMESTAMP,Numeric
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [ ]:
# RETURN THE SQLACHEMY ENGINE OBJECT
DATABASE_URL = "postgresql+psycopg2://postgres:admin@localhost:5432/postgres"

# create a new engine connected to retail_db
# Base = declarative_base()
Base = declarative_base()

#TABLE NAME DEFINING AND CREATION
__table_name__ = 'Retail_Orders'
if __table_name__ == '__Retail_Orders__':

    try:
      
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = create_engine(DATABASE_URL) 
        print(f"Connection to the {postgres} for user {localhost} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

In [ ]:
from sqlalchemy import table, Column, Integer, String,MetaData,create_engine
from sqlalchemy import create_engine
#debug engine created and rebinding
engine = create_engine("postgresql+psycopg2://postgres:1234@localhost:5432/postgres")
metadata_obj = MetaData()
metadata_obj = Base.metadata.create_all

__table_name__ = 'Retail_Orders'
if __table_name__ == '__Retail_Orders__':(
    metadata_obj,
                               
Column("customer_id", Integer, nullable=False),                            
Column("order_date", TIMESTAMP, nullable=False),
Column("category", String(50), nullable=False),
Column("sub_category", String(50), nullable=True),
Column("product_id", Integer, nullable=False),
Column("Discount", Numeric(100), nullable=False),
Column("discount_percent", DECIMAL(5, 2), nullable=True),
Column("Selling_price", DECIMAL(10, 2), nullable=True),
Column("ship_mode", String(50), nullable=True),
Column("city", String(100), nullable=True),
Column("state", String(100), nullable=True), 
Column("order_id" ,Integer, nullable=False),
Column("profit" , Numeric(100), nullable = True),
Column("region" , String(100), nullable=True),
)

In [29]:
#OPTION 2

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, TIMESTAMP, DECIMAL, NUMERIC
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import pandas as pd
df.values.tolist()

# Create engine
database_url = "postgresql+psycopg2://postgres:admin@localhost:5432/postgres"
engine = create_engine(database_url)

# Create Base class
Base = declarative_base()

# Define ORM table
class RetailOrder(Base):
    __tablename__ = "Retail_Dataa"

    order_id = Column(Integer, primary_key=True, autoincrement=True)
    order_date = Column(TIMESTAMP, nullable=False)
    customer_id = Column(Integer, nullable=False)
    category = Column(String(50), nullable=False)
    sub_category = Column(String(50), nullable=True)
    product_id = Column(Integer, nullable=False)
    selling_price = Column(NUMERIC(10, 2), nullable=False)
    discount_percent = Column(DECIMAL(5, 2), nullable=True)
    discount = Column(NUMERIC(10, 2), nullable=True)
    ship_mode = Column(String(50), nullable=True)
    city = Column(String(100), nullable=True)
    state = Column(String(100), nullable=True)
    region = Column(String(100), nullable=True)
    postal_code = Column(String(100), nullable=True)
    country = Column(String(100), nullable=True)
    segment = Column(String(100), nullable=True)
    profit = Column(NUMERIC(10, 2), nullable=True)

# Create table in database
Base.metadata.create_all(engine)

# Example DataFrame (replace this with your actual data)
data = {
    "order_id": [10],
    "order_date": ["2024-01-01 10:00:00"],
    "customer_id": [1],
    "category": ["Office Supplies"],
    "sub_category": ["Paper"],
    "product_id": [1001],
    "selling_price": [20.50],
    "discount_percent": [5.00],
    "discount": [1.03],
    "ship_mode": ["Second Class"],
    "city": ["New York"],
    "state": ["NY"],
    "region": ["East"],
    "postal_code": ["10001"],
    "country": ["USA"],
    "segment": ["Consumer"],
    "profit": [5.75],
}

# Convert to DataFrame
df = pd.DataFrame(data)
# Append data to table
df.to_sql("Retail_Dataa", con=engine, if_exists="append", index=False)

In [66]:
# 6.1. Total Revenue per Category
print(df.groupby("category")["selling_price"].sum().sort_values(ascending=False))

category
Office Supplies    20.5
Name: selling_price, dtype: float64